
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
header{

    background-color: #1b1f24;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
}

header ul{

    display: flex;
    list-style-type: none;
    /* margin-left: 5px; */
}

 header ul li{

    margin: 0 30px;
}


header ul li a{

   color: white;
   text-decoration: none;
   font-weight: bold;
   
}

header ul li a:hover{
    
   color: #12bdff;   
 }



 /* header logo */

header .logo{

    color: #12bdff;
    font-weight: bold;
    letter-spacing: 6px;
    font-size: 20px;
    cursor: pointer;
}








/* header > button */

header button{
    
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #12bdff;
    border-radius: 10px;
    color:#12bdff;
    cursor: pointer;
    font-weight: bold;
    
    
}

header button:hover{
   
    background-color: #12bdff;
    color: white;
    transition: 0.3s;
    
}


/* hero section */



main .hero-section{

    display: flex;
    background-color: #1b1f24;
    color: white;
    align-items: center;
    padding: 40px 70px 0 110px;
    
}

.hero-section-title{

    font-size: 45px;
    margin: 7px 0 15px 0;
   
}

.social-links{

    display: flex;
    list-style-type: none;
    margin: 25px 0 20px 0;
}
.social-links li{

    margin: 0 20px 0 0;
}
.social-links li a{
    font-size: 18px;

    color: white;
    text-decoration: none;
 }
 
 .social-links li a:hover{
     
    color: #12bdff;   
  }

  /* hero buttons */

  .hero-buttons .btn-cv{
    
    padding: 8px 10px;
   
    background: transparent;
    border: 1px solid #12bdff;
    border-radius: 10px;
    color:#12bdff;
    cursor: pointer;
    font-weight: bold;
    
}

.hero-buttons .btn-cv:hover{
   
    background-color: #12bdff;
    color: white;
    transition: 0.3s;
    
}

 .btn-hireme{
    
    padding: 8px 10px;
    margin-right: 10px;
    background-color: #12bdff;
    border:none;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    
}

 .btn-hireme:hover{
   
    background-color: #0882b2;
    color: white;
    transition: 0.3s;
    
}

/* about section */

.about-section{

    background-color:#22282f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 85px 50px;

}

.about-section img{
    border-radius: 50%;
    border: 2px solid #12bdff;
    box-shadow: 3px 3px 34px 2px rgba(18,189,255,0.45);
-webkit-box-shadow: 3px 3px 34px 2px rgba(18,189,255,0.45);
-moz-box-shadow: 3px 3px 34px 2px rgba(18,189,255,0.45);
}

.about-section .details{

    margin-left: 100px;
    max-width: 500px;
}

.about-section .details h4{

    font-size: 35px;
   
   
}

.about-section ul{

    margin: 15px 0 20px 0;
    list-style-type:none;
    
}
.about-section ul li{

    margin-bottom: 10px;
    color:grey;
    
}
.about-section ul li a{

    text-decoration: none;
    color: grey;
    
}
.about-section ul li a:hover{

   color: #12bdff;
    
}
.about-section ul li strong{
    color: white;
}

/* work section */


.mywork-section{
    background-color:#1b1f24;
    color: white;
    padding: 60px;
    text-align: center;
    
    
}



.work-section-box{

    background-color: #22282f;
    padding: 30px;
    max-width: 300px;
    border-radius: 15px;
    text-align: left;
    border: 1px solid #12bdff;
    margin-top: 50px;
    cursor: pointer;
    
}
.work-section-box:hover{
    box-shadow: 3px 3px 34px 2px rgba(18,189,255,0.45);
    -webkit-box-shadow: 3px 3px 34px 2px rgba(18,189,255,0.45);
    -moz-box-shadow: 3px 3px 34px 2px rgba(18,189,255,0.45);
    }
   


.work-section-box p{

   color: grey;
   font-size: 14px;
   margin: 10px 0;
}

.work-section-box a{
   
   text-decoration: none;
   color: #12bdff;
 }
 .work-section-description{
    margin-top: 20px;
 }

 .work-section-box-icon{
      
       background-color: #035170;
       padding: 10px;
       border-radius: 50%;
       
 }

 .work-section-items{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 /* contact section  */


 .contact-section{

    background-color:#22282f;
    color: white;
    padding: 50px 0 20px 0;
    text-align: center;
 }


 .contact-section input,textarea{

    margin-bottom: 25px;
    width: 450px;
    
    color: white;
    background-color: #1b1f24;
    border:1px solid #12bdff;
    border-radius: 8px;
    outline: none;
    padding: 15px;

    
 }

 .contact-section button{

      
    padding: 8px 10px;
    margin: 20px 0;
    width: 90px;
    background-color: #12bdff;
    border:none;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    font-weight: bold;
 }

 
 .contact-section button:hover{
   
    background-color: #0882b2;
    color: white;
    transition: 0.3s;
    
}

footer{

    background-color:#1b1f24;
    color: grey;
    text-align: center;
    padding:15px;
    font-size: 14px;
}

footer a{

    text-decoration: none;
    color: #12bdff;
}



/* media queries */






@media screen and (max-width:600px) 
{

    header{

        flex-direction: column;

       
    }
    
    
    header > *{

        padding-bottom: 15px;
    }
    header ul li{

        margin: 0 15px;
    }




    main .hero-section{

       flex-direction: column;
       padding-bottom:60px;
      
      
        
    }

    main .hero-section .hero-first-div{
     width:350px;
     margin-right: 30px;
    
       
    }

    main .hero-section img{
          display: none;
     }



     .about-section{

        flex-direction: column;
        padding:50px;

    }

    .about-section .details{

        margin-top:50px ;
        margin-left:60px;
        width:400px;    
    }


    .contact-section input,textarea{

        width: 350px;
    }


}



